.sertification-and-diploms {
  background-color: #8BAEC8;
  padding-top: 129px;
  // padding-bottom: 43px;
  &__title {
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #F9FCFF;
  }

}
