.opinions {
  padding-top: 98px;
  // padding-bottom: 135px;

  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #1F6599;
    margin-bottom: 59px;
  }
  &__slider {
    // height: 450px;
  }
}
